# Sreyashi Saha
# Matriculation Number : 1747271

## Exercise 1 Part A

In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext
from pyspark.sql import SQLContext

In [2]:
list_a = ["spark", "rdd", "python", "context", "create", "class"]
list_b = ["operation", "apache", "scala", "lambda","parallel","partition"]

Create two RDD objects of a, b and do the following tasks. Words should be remained in the results of join operations.

In [4]:
sc =SparkContext()
a_rdd = sc.parallelize(list_a)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/07/03 10:33:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/07/03 10:33:30 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
22/07/03 10:33:30 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
22/07/03 10:33:30 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
22/07/03 10:33:30 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
22/07/03 10:33:30 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
22/07/03 10:33:30 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.
22/07/03 10:33:30 WARN Utils: Service 'SparkUI' could not bind on port 4046. Attempting port 4047.
22/07/03 10:33:30 WARN Utils: Service 'SparkUI' could not bind on port 4047. Attempting port 4048.

In [5]:
b_rdd = sc.parallelize(list_b)

In [7]:
a_rdd.collect()

['spark', 'rdd', 'python', 'context', 'create', 'class']

In [8]:
b_rdd.collect()

['operation', 'apache', 'scala', 'lambda', 'parallel', 'partition']

In order to perform the joins we need to have key value pairs. Therefore, we map each word from both the list and assign their values as 1 using the map function.

In [9]:
# map_a = a_rdd.map(lambda x: (x, 1)).collect()
map_a = a_rdd.map(lambda x: (x, 1))

In [10]:
# map_b = b_rdd.map(lambda x: (x, 1)).collect()
map_b = b_rdd.map(lambda x: (x, 1))

In [11]:
map_a.collect()

[('spark', 1),
 ('rdd', 1),
 ('python', 1),
 ('context', 1),
 ('create', 1),
 ('class', 1)]

In [12]:
map_b.collect()

[('operation', 1),
 ('apache', 1),
 ('scala', 1),
 ('lambda', 1),
 ('parallel', 1),
 ('partition', 1)]

We can see that all the words in both rdds now have values assigned as 1


1. Perform rightOuterJoin and fullOuterJoin operations between a and b. Briefly explain your solution. (1 point)

In [13]:
join1 = map_a.rightOuterJoin(map_b)
Right_Outer_Join = join1.map(lambda x: x[0])

In [14]:
Right_Outer_Join.collect()

['parallel', 'lambda', 'scala', 'operation', 'apache', 'partition']

A right outer join is a method of combining tables. The result includes unmatched rows from only the table that is specified after the RIGHT OUTER JOIN phrase. Here in our case we have map_b after the phrase, it returns all records from the right rdd (map_b), and the matching records from the left rdd (map_a). The result is 0 records from the left side, if there is no match.

In [18]:
join2 = map_a.fullOuterJoin(map_b)
Full_Outer_join = join2.map(lambda x: x[0]).collect()

In [16]:
Full_Outer_join.collect()

['python',
 'spark',
 'context',
 'create',
 'parallel',
 'lambda',
 'class',
 'rdd',
 'scala',
 'operation',
 'apache',
 'partition']

The FULL OUTER JOIN keyword returns all records when there is a match in left rdd (map_a) or right rdd(map_b) table records.

In [19]:
new_list = sc.parallelize(Full_Outer_join)
all_words = new_list.map(lambda word: (word, 1)).collect()
all_words

[('python', 1),
 ('spark', 1),
 ('context', 1),
 ('create', 1),
 ('parallel', 1),
 ('lambda', 1),
 ('class', 1),
 ('rdd', 1),
 ('scala', 1),
 ('operation', 1),
 ('apache', 1),
 ('partition', 1)]

Here I map all the words after performing Full_Outer_join and take them as key value pairs for further implementations.

2. Using map and reduce functions to count how many times the character "s" appears in all a and b. (1 point)

In [22]:
words = new_list.map(lambda x: (x, 1))

In the function below I check if the word received as input has the character 's' in it or not. If it does then I count the number of times I get 's' for that word and then I return the count.

In [23]:
def check_for_s(temp):
    c=0
    for idx in temp:
        if idx == 's':
                c+=1
    return c

Here I map the words and the number of 's' that the word contains

In [24]:
count_s_words = words.map(lambda x:(x[0], check_for_s(x[0])))

In [25]:
count_s_words.collect()

[('python', 0),
 ('spark', 1),
 ('context', 0),
 ('create', 0),
 ('parallel', 0),
 ('lambda', 0),
 ('class', 2),
 ('rdd', 0),
 ('scala', 1),
 ('operation', 0),
 ('apache', 0),
 ('partition', 0)]

In [27]:
count = count_s_words.map(lambda a:a[1]).reduce(lambda a,b:a+b)

In [29]:
print(" The number of times s occurs in the list of words using reduce funtion is ",count)

 The number of times s occurs in the list of words using reduce funtion is  4

3. Using aggregate function to count how many times the character "s" appears in all a and b. (1 point)

In [30]:
count1 = words.aggregate(0,lambda a,x:a+check_for_s(x[0]), lambda a,b: a+b)

In [31]:
print(" The number of times s occurs in the list of words using aggregate funtion is ",count1)

 The number of times s occurs in the list of words using aggregate funtion is  4